@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ShippingComp™</h1> <h6>The most secure freight service in the world</h6>
        <p class="lead">أسرع وأأمن شركة شحن وأوفر وأضمن خدمة 😉</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">شحن بحري 🚢</h2>
            <p>
                <span>شحن بحري شحن بحري شحن بحري</span><br />
                <span>شحن بحري شحن بحري شحن بحري</span><br />
                <span>شحن بحري شحن بحري شحن بحري</span><br />
            </p>
            <p><a class="btn btn-outline-dark" href="">تفاصيل &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">شحن بري 🚚</h2>
            <p>
                <span>شحن بري شحن بري شحن بري</span><br />
                <span>شحن بري شحن بري شحن بري</span><br />
                <span>شحن بري شحن بري شحن بري</span><br />
            </p>
            <p><a class="btn btn-outline-dark" href="">تفاصيل &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">شحن جوي ✈🏢🏢💥</h2>
            <p>
                <span>شحن جوي شحن جوي شحن جوي</span><br />
                <span>شحن جوي شحن جوي شحن جوي</span><br />
                <span>شحن جوي شحن جوي شحن جوي</span><br />
            </p>
            <p><a class="btn btn-outline-dark" href="">تفاصيل &raquo;</a></p>
        </section>
    </div>
</main>